@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
	padding: 0px;
	margin: 0px;
	background: linear-gradient(to right, rgb(252, 53, 76), rgb(10, 191, 188));
	background-size: cover;
}

.container {
	/* position: relative;
	top: 129px; */
}

#app {
	position: relative;
	top: 110px;
}

.type-container {
	width: 550px;
	margin: 0 auto;
	color: white;
	font-size: 40px;
	font-family: 'Open Sans';
	padding-left: 30px;
	height: 150px;

}

.box {
	width: 450px;
	height: 370px;
	text-align: center;
	background-color: rgba(0,0,0,0.4);
	padding: 40px;
	margin: auto;
	font-family: 'Lato', sans-serif;
	color: white;
	margin-top: 7%;
}

.box a {
	text-decoration: none;
	color: white;
}

.box a:hover {
	text-decoration: none;
	color: gray;
}

.box h1 {
	font-size: 40px;
	letter-spacing: 3px;
	font-weight: 100;
}

.box h5 {
	font-size: 20px;
	font-weight: 100;
	letter-spacing: 1.5px;
}

.box-img {
	border-radius: 50%;
}

.more-info  {
	text-align: center;
	margin-top: 40px;
	font-size: 20px;

}

.more-info button {
	font-size: 20px;
}

.box p {
	text-align: justify;
	letter-spacing: 0.5px;
}

ul {
	padding: 0px;
	margin: 0px;
}


.box i {
	font-size: 35px;	
	padding: 20px;
	margin: auto;
	color: white;
}

.box i:hover {
	color: orange;
	display: inline-block;

}

.download {
	font-size: 20px;
	float: right;
	padding: 20px;
	position: relative;
	bottom: 100px;
	text-decoration: none;
	text-transform: uppercase;

}

@media (max-width: 400px) {
  .box {
  	width: 100px;
  	height: 100px;
  }

  img {
  	height: 50px;
  	width: 50px;
  }

  .box h1 {
  	font-size: 10px;
  }

  .box h5 {
  	font-size: 5px;
  }

  .box p {
  	font-size: 3px;
  }

  .box i {
  	font-size: 10px;
  	padding: 2px;
  }
}